.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
  transition: box-shadow 0.3s;
  background-color: #f3eded;
  box-shadow: $bottom-shadow;
  border-radius: 5px;
  padding: 10px;
}

.book-card:hover {
  box-shadow: 3px 5px 10px -2px rgba(0, 0, 0, 0.6);
}

.bookProgress {
  align-self: flex-end;
}

.fa-plus {
  color: #3d3b3b;
}
