@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

$bottom-shadow: 3px 5px 2px -2px rgba(0, 0, 0, 0.2);
$bottom-shadow2: 3px 5px 5px 1px rgba(0, 0, 0, 0.2);
$logo-font: "Monofett", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-family: $logo-font;
  cursor: pointer;
}

nav {
  display: flex;
  background-image: linear-gradient(to right, #ef32d9, #89fffd);
  padding: 10px 40px 10px 70px;
  box-shadow: $bottom-shadow;
  height: 60px;
  justify-content: space-between;

  .search-bar {
    height: 35px;
    width: 40%;
    display: flex;
    box-shadow: $bottom-shadow;
    border-radius: 5px;

    input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 0 10px;
      color: #8c8281;
      font-size: 16px;
      border-radius: 5px;
    }
  }

  .search-bar:hover {
    box-shadow: $bottom-shadow2;
  }
}

nav .search-bar button {
  height: 100%;
  width: 10%;
  text-align: center;
  line-height: 35px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #556cc9;
  border: none;
  color: #ffffff;
  font-size: 23px;
  font-weight: normal;
}

@media (max-width: 1000px) {
  nav .search-bar {
    width: 60%;
    display: none;
  }

  .search-bar.active {
    display: flex;
  }
}
