@import "navbar";
@import "bookCard";
@import "star";
@import "modal";

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-auto-rows: 200px;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  grid-gap: 3em;
}

//Override default font-family
.fas {
  font-family: "FontAwesome" !important;
}
